langchain_groq
langchain_openai
langchain_community
langgraph
langchain
pypdf
pyarrow==14.0.1
langchain
langchain_community
langchain_huggingface
langchainhub
faiss-cpu
langchain-community
python-dotenv
streamlit
langchain_community
langchain_core
langchain_groq
faiss-cpu
pdfplumber
fastapi
uvicorn